<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="colorlib.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-desc">
                    <div class="signup-desc-content">
                        <h2><span>Video</span>Call</h2>
                        <p class="title">Sign up now to try 30 days for free</p>
                        <p class="desc">
                        </p>
                        <img src="images/signup-img.jpg" alt="" class="signup-img">
                    </div>
                </div>
                <div class="signup-form-conent">
                  <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                    <h3></h3>
                    <fieldset>
                        <span class="step-current">Step 1 / 2</span>
                        <div class="form-group">
                            <input type="text" name="your_name" id="your_name" required/>
                            <label for="your_name">Your Name</label>
                        </div>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <span class="step-current">Step 2 / 2</span>
                        <div class="form-group">
                            <input type="text" name="roomId" id="roomId" required/>
                            <label for="roomId">Room ID</label>
                        </div>
                    </fieldset>

                    <!-- <h3></h3>
                    <fieldset>
                        <span class="step-current">Step 3 / 4</span>
                        <div class="form-group">
                            <input type="text" name="your_password" id="your_password" required/>
                            <label for="your_password">Your Password</label>
                            <span toggle="#your_password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                    </fieldset> -->

                    <!-- <h3></h3>
                    <fieldset>
                        <span class="step-current">Step 4 / 4</span>
                        <div class="form-group">
                            <input type="text" name="confirm_password" id="confirm_password" required/>
                            <label for="confirm_password">Confirm your password</label>
                            <span toggle="#confirm_password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                    </fieldset> -->
                </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="vendor/jquery-steps/jquery.steps.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>